<h2><%= @chapter.name %></h2>
<p><%= @chapter.content %></p>
<% if @story.user == current_user %>
  <%= link_to 'Edit', edit_story_chapter_path(@story, @chapter.id) %> 
  <%= link_to 'Destroy Chap', story_chapter_path(@story, @chapter.id),
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
<% end %>
<p>qerqe qerqwe adf qwer alkj;  pi pqj;lk p ; u p q;erj qe;rlq er; qlekjr; qlekjr ;qej;</p>
<%= link_to 'Back', story_path(@story) %>
